* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text--color: #d4d4db;
    --main--bg--color: #343541;
}

.flex {
    display: flex;
}

body {
    min-height: 100vh;
    color: var(--text--color);
    background-color: var(--main--bg--color);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

#time-and-date {
    list-style: none;
    gap: 2rem;
    border: 2px solid black; /* tillfällig */
    padding: 0.2rem 2rem;
    border-radius: 1rem;
}

main {
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1rem;
}

.gadgets-container {
    gap: 1rem;
}

.gadgets {
    width: 200px; /* tillfällig */
    height: 300px; /* tillfällig */
    border: 2px solid black; /* tillfällig */

    border-radius: 1rem;
    padding: 1rem;
}

footer p { /* tillfällig */
    border: 2px solid black; 
    padding: 0.2rem 2rem;
    border-radius: 1rem;
}